<script type="text/javascript">
    $(function(){
      $("#location").click(initiate_geolocation);
  });

  function initiate_geolocation(){
    navigator.geolocation.getCurrentPosition(handle_geolocation_query);
  }

  function handle_geolocation_query(position){
    alert('Lat: ' + position.coords.latitude + ' ' + 
          'Lon: ' + position.coords.longitude); 
  }
</script>
<button id="location">Find My location</button>