<div id="error">You need Javascript enabled for this application to work!</div>
<p id="hud">Aquiring Location</p>
<div id="location">
<%=hidden_field_tag :latitude %>
<%=hidden_field_tag :longitude %>
<%=submit_tag "Hyperglycemia Countdown Begins Now!", :id => "submit" %>
</div>
<script>
  $(function(){ 
    $("#submit").hide(); 
    getCoords(function(latitude,longitude){
      $("#latitude").val(latitude);
      $("#longitude").val(longitude);
      $("#submit").show();
    });
  });
</script>

